/* Global */
body {
  overflow-x: hidden;
}

/************************************************
******************** Header *********************
*************************************************/
.header {
  background: #000000;
  padding: 32px 20px !important;
  position: relative;
}
@media (max-width: 768px) {
  .header h1.header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.custom-search {
  width: 50vw;
  height: 42px;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  cursor: text;
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 992px) {
  .custom-search {
    width: 37vw;
  }
}
@media (max-width: 768px) {
  .custom-search, #custom-details-modal-search {
    display: none !important;
  }
}

.custom-search .svg-wrapper svg {
  stroke: #000000;
  width: 38px;
}

.svg-wrapper svg {
  stroke: #ffffff;
  height: 28px;
}

@media (max-width: 768px) {
  .header__icon--account, .header__icon--cart .text {
    display: none !important;
  }

  .header:not(.header--has-menu) *>.header__search {
    display: block !important;
  }

  .header__icon--chat {
    display: none !important;
  }
}

@media (min-width: 768px) {
  #search-mobile {
    display: none !important;
  }
}

.header__icons {
  gap: 24px;
}

.custom-header__icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto !important;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.custom-header__logo {
  width: 80px;
}

.header__heading-link {
  padding: 0;
}

.cart-count {
  position: absolute;
  right: 8px;
  top: -12px;
  color: #000;
  background: #2ecc71;
  border-radius: 50%;
  height: 20px !important;
  width: 20px;
}

@media (max-width: 768px) {
  .cart-count {
    right: -9px;
    top: -1px;
  }
}

/* SubHeader */
.custom-subheader {
  width: 100%;
  height: 50px;
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

@media (max-width: 768px) {
  .custom-subheader {
    display: none;
  }
}

.custom-subheader a,
.custom-subheader a:visited {
  color: #ffffff;
  text-decoration: none;
}

#button-show-products {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

#button-show-products svg {
  stroke: #ffffff;
  width: 18px;
}

.custom-subheader__list {
  background: rgba(0, 0, 0, .95);
  padding: 15px 20px;
  list-style: none;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 35vh;
  overflow-y: auto;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px 0;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  position: absolute;
  top: 100%;
  z-index: 9;
}

.custom-subheader__list.is-hidden {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  pointer-events: none;
}

.custom-subheader__list::-webkit-scrollbar {
  width: 6px;
}

.custom-subheader__list::-webkit-scrollbar-track {
  background: transparent;
}

.custom-subheader__list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
  border: 1px solid transparent;
}

.custom-subheader__list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.custom-subheader__list li a {
  text-decoration: none;
  color: #ffffff;
}

.custom-subheader__list li ul {
  list-style: none;
  padding: 0;
}

/* SubHeader Mobile */
.custom-subheader--mobile {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  width: 100%;
  padding: 12px 15px 12px 15px;
  height: 73px;
}

@media (min-width: 768px) {
  .custom-subheader--mobile {
    display: none;
  }
}

.custom-subheader--mobile__list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 32px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  padding: 0;
}

.custom-subheader--mobile__list li a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

/* Informative*/
@media (max-width: 768px) {
  .section-informative--desktop article {
    grid-template-columns: 64px 1fr !important;
  }
}

/************************************************
******************** Slider *********************
*************************************************/
.slider-button {
  padding: 0;
  border-radius: 50%;
}

.slider-button:hover svg {
  stroke: #ffffff;
}

.slider-button--prev {
  transform: rotate(180deg);
}

.slider-button--prev, .slider-button--next {
  margin: -8px 8px;
  width: 48px;
  height: 48px;
}

@media (max-width: 992px) {
  .slider-button--prev, .slider-button--next {
    display: none !important;
  }
}

.slider-counter {
  display: none;
}

.slider-component-desktop {
  max-width: 1100px !important;
}

.slider__slide {
  max-width: 256px !important;
}

.featured-slide {
  padding: 0;
}

.featured-slide .swiper-wrapper {
  padding: 0;
}

.featured-slide .card-wrapper {
  width: 100%;
}

.featured-slide .swiper-slide {
  margin: 0;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #000 !important;
  font-size: 24px;
  background: transparent;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 32px !important;
}

.swiper-button-prev {
  left: -50px !important;
}

.swiper-button-next {
  right: -50px !important;
}

/************************************************
********** Card Product - card-product **********
*************************************************/
.card__content {
  position: relative;
}

.custom-product-card-wrapper {
  padding: 12px;
}

.custom-product-card-wrapper:hover .card__information {
  border: none;
}

.card__information {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.custom-product-card-wrapper:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  border-radius: 10px;
  padding: 12px;
}

.custom-product-card-wrapper:hover .custom-buttons {
  visibility: visible;
}

.custom-product-card-wrapper:hover .full-unstyled-link {
  text-decoration: none !important;
}

/*  card_quick-purchase */
.card_quick-purchase {
  padding: 16px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  opacity: 0;
}

.card_quick-purchase *:focus-visible {
  outline: none;
  outline-offset: none;
  box-shadow: none;
}

.card_quick-purchase label {
  color: #000;
  font-family: 10px;
}

.card_quick-purchase select {
  padding: 13px 35px 12px 12px;
  appearance: none;
  color: #000;
  fill: #000;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .3);
  width: 100%;
  border-radius: 10px;
  outline: none;
}

.card_quick-purchase .custom-button-buy {
  width: 100%;
  margin: 8px 0;
  font-size: 10px;
}

.card_quick-purchase .custom-button-close {
  background: none;
  border: none;
  cursor: pointer;
}

.card_quick-purchase .custom-button-close svg {
  width: 32px;
  height: 32px;
}

.card_quick-purchase .custom-button-close:hover {
  background: none;
}

/* Butons */
.custom-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  visibility: hidden;
}

@media (max-width: 768px) {
  .custom-buttons {
    visibility: visible;
  }
}

.custom-button-buy, .custom-button-view {
  padding: 8px 0;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 40px;
  cursor: pointer;
}

.custom-button-view {
  background: transparent;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.custom-button-view svg {
  height: 12px;
  width: 12px;
}

/* Page Product  */

.product__info-wrapper {
  padding: 0 15px !important;
}

/* Thumbnail */
.product--large {

}

.thumbnail-list__item.slider__slide {
  width: 100px !important;
  height: 120px !important;
}

.thumbnail-slider {
  width: fit-content !important;
  margin: 0 !important;
  align-items: start !important;
}

.thumbnail-list .slider__slide {
  max-width: 100%;
}

.product--large .slider__slide {
  height: 100vh;
  max-height: 720px;
  max-width: 100% !important;
  width: 100%;
  overflow: unset;
}

.product--thumbnail_slider {
  display: grid; 
  grid-template-columns: 7fr 5fr !important;
}
@media (max-width: 768px) {
  .product--thumbnail_slider {
    grid-template-columns: 1fr !important;
  }
}

/* Quantity and Button Buy */
.custom-wrapper-count-button {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  gap: 12px;
}

.custom-wrapper-count-button .product-form__input {
  margin: 0;
  height: 45px;
}

.custom-wrapper-count-button .quantity {
  width: 100%;
}
.custom-wrapper-count-button .quantity__button {
  width: 24px;
}

.custom-wrapper-count-button .quantity .quantity__button .svg-wrapper svg {
  stroke: #000000 !important;
  font-weight: bold;
}

.custom-wrapper-count-button .button--secondary::after {
  --border-opacity: 0 !important;
}

.custom-wrapper-count-button .quantity::after {
  border-radius: 10px !important;
}

.custom-wrapper-count-button .custom-button-buy {
  border-radius: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

/* Description and Information */
@media (max-width: 749px) {
  product-info .page-width {
    padding: 0 !important;
  }
  
  .grid--peek.slider .grid__item:first-of-type {
    margin: 0 !important;
  }
  
  .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
    margin: 0 !important;
  }
}

.custom-product_info {
  font-size: 12px;
  color: #000000;
}

.custom-product-description {
  display: grid;
  grid-template-columns: 7fr 5fr;
}
@media (max-width: 749px) {
  .custom-product-description {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }
}